<form  method="post" action="/add" accept-charset="utf-8">
<table>
  <tr>
    <td>
      <h3>add:</h3>
    </td>
  </tr>
  <tr>
    <td>title</td>
    <td><INPUT name="title" type="text"></td>
  </tr>
  <tr>
    <td>artist</td>
    <td><INPUT name="artist" type="text"></td>
  </tr>
  <tr>
    <td>released</td>
    <td><INPUT name="released" type="text"></td>
  </tr>
  <tr>
    <td>record company</td>
    <td><INPUT name="record_company" type="text"></td>
  </tr>
  <tr>
    <td>genre</td>
    <td><INPUT name="genre" type="text"></td>
  </tr>
  <tr>
    <td>picture(url)</td>
    <td><INPUT name="picture" type="text"></td>
  </tr>
  <tr>
    <td>artist bio</td>
    <td><INPUT name="bio" type="text"></td>
  </tr>
</table>
  <p><input type="submit" value="Add CD!" /></p>
</form>

