<h2>Add CD:</h2>

<form  method="post" action="/add/addcd" accept-charset="utf-8">

  <P>Title: <INPUT name="title" type="text"></P>
  <P>Artist: <INPUT name="artist" type="text"></P>  
  <P>Released: <INPUT name="released" type="text"></P>
  <P>Record Company: <INPUT name="record_company" type="text"></P>
  <P>Genre: <INPUT name="genre" type="text"></P>
  <P>Picture(url): <INPUT name="picture" type="text"></P>
  <p><input type="submit" value="Add CD!" /></p>

</form>

<p><a href ="/" >Back</a></p>

