<h2>Add CD</h2>

<FORM name="add"action="">

  <P>Artist: <INPUT name="artist" type="text"></P>
  <P>Title: <INPUT name="title" type="text"></P>
  <P>Released: <INPUT name="released" type="text"></P>
  <P>Record Company: <INPUT name="recordcompany" type="text"></P>
  <P>Genre: <INPUT name="genre" type="text"></P>
  <p>Artist bio:</p>
  <p><textarea name="bio" cols="50" rows="10"></textarea></p>
  <P>Picture(url): <INPUT name="pic" type="text"></P>
  <p><input type="submit" value="Add CD!" /></p>

</FORM>

<input name="back" type="button" value="Back" onclick="window.location.href='/'" />

