<table>
  <tr>
    <td>
      <p><%= @login_msg %></p>
    </td>
    <td>
      <form  method="post" action="/logout">
        <input type="submit" value="logout" />
      </form>
    </td>
  </tr>
</table>

