<input name="login" type="button" value="Login" onclick="window.location.href='/login'" />

<h2>Search</h2>

<form name="search" action="">

  <P>Artist: <INPUT name="artist" type="text"></P>
  <P>Title: <INPUT name="title" type="text"></P>
  <P>Released: <select name="released">
      <option value="2008">2008</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
    </select>
  </P>
  <P>Record Company: <INPUT name="company" type="text"></P>
  <P>Music genre: <INPUT name="genre" type="text"></P>
  <input name="submit" type="submit" value="Search" />

</form>

<form name="listall" action="">
  <input name="list" type="submit" value="List all" />
</form>


<p><a href ="add" >Add new CD</a></p>
