<h1>CD-arkisto</h1>

<h2>Listaus</h2>
<input type="submit" value="Listaa" />

<h2>Lisays</h2>

<p><a href="lisays.erb">Lisaa CD-levy</a></p>

<h2>Haku</h2>
<FORM action="search" method="post">

  <P>Tekija: <INPUT type="text"></P>
  <P>Levyn nimi: <INPUT type="text"></P>
  
  <P>Julkaisuvuosi: <select name="Julkaisuvuosi">
      <option value="2008">2008</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
    </select>
  </P>
  <P>Levy-yhtio: <INPUT type="text"></P>
  <p><input type="submit" value="Hae" /></p>

</FORM>
<p><%= @esimerkkimuuttuja %></p>

<p>Sessioon tallennettuna "<%= @sessiosta_muuttujaan %>"</p>

<% @testmodelin_arvot.each do |arvo| %>
    <p><%= arvo.name %></p>
<% end %>
