<h1>Login</h1>

<FORM name="login" action="login">

  <P>Username:<INPUT type="text"></P>
  <P>Password:<INPUT type="password"></P>
  <P><input type="submit" value="login" /></P>

</FORM>

<input name="back" type="button" value="Back" onclick="window.location.href='/'" />

