<h2>Login:</h2>

<form name="login" method="post" action="/login/post" accept-charset="utf-8">

  <P>Username:<INPUT type="text"></P>
  <P>Password:<INPUT type="password"></P>
  <P><input type="submit" value="login" /></P>

</form>

<p><a href ="/" >Back</a></p>