<table>
  <tr>
    <td>
      <p><%= @login_msg %></p>
    </td>
  </tr>
</table>
<form name="login" method="post" action="/register" accept-charset="utf-8">
<table>
  <tr>
    <td>
      <h3>register:</h3>
    </td>
  </tr>
  <tr>
    <td>select username:</td>
    <td><INPUT type="text" name="username"></td>
  </tr>
  <tr>
    <td>select password:</td>
    <td><INPUT type="password" name="password"></td>
  </tr>
  
</table>
  <br>
<table>

  <tr>
    <td><input type="submit" value="submit" /></td>
  </tr>
</table>
</form>