<table>
  <tr>
    <td>
      <p><%= @login_msg %></p>
    </td>
  </tr>
</table>
<form name="search" method="post" action="/search" accept-charset="utf-8">
  <table>
    <tr>
      <td>
      <h3>search:</h3>
      </td>
    </tr>
    <tr>
      <td>by title</td>
      <td><INPUT name="title" type="text"></td>
    </tr>
    <tr>
      <td>by artist</td>
      <td><INPUT name="artist" type="text"></td>
    </tr>
    <tr>
      <td>by year</td>
      <td><INPUT name="released" type="text"></td>
    </tr>
    <tr>
      <td>by genre</td>
      <td><INPUT name="genre" type="text"></td>
    </tr>
  </table>
  <br>
  <table>  
    <tr>
      <td>
        <input name="search" type="submit" value="submit" />
      </td>
    </tr>
  </table>
</form>

