h1 {
    color: black;
}
h2 {
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    font-size: 18px;
}
body {

    background-repeat: no-repeat;
    background-color: white;
    position: relative;
}
div {
    width: 50%;
    position: relative;
    right: 30%;
    left: 25%;
    background-color: #cccccc;
    bottom: 80%;
    top: 10%;
    height: 10%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;   
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: gray;
    border-left-color: gray;
    border-bottom-color: gray;
    border-top-color: gray;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-attachment: scroll;
}

p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333333;
}
td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

