h1 {
    color: black;
}
h2 {
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    font-size: 22px;
    text-align: center;
}
h3 {
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    font-size: 14px;
}
body {
    
    background-repeat: repeat;
    background-color:#cccccc;
    position: relative;

}
div {
    width: 550px;
    position: relative;
    right: 30%;
    left: 25%;
    background-color: white;
    bottom: 80%;
    top: 10%;
    height: 10%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;   
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: gray;
    border-left-color: gray;
    border-bottom-color: gray;
    border-top-color: gray;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-attachment: scroll;
}
a {
    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    color: #333333;
    text-decoration: none;
}
p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333333;
}

td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    position: inherit;
}
